<style>
        /* Estilos personalizados */
        body {
            background-color: #ffffff; /* Color de fondo */
        }
        .navbar {
            background-color: #1b0088; /* Color del menú de navegación */
        }
        .navbar-brand, .navbar-nav .nav-link {
            color: #ffffff; /* Color del texto del menú de navegación */
        }
        /* Establecer dimensiones fijas para las imágenes */
        .fixed-image {
            width: 300px; /* Ancho fijo */
            height: 200px; /* Altura fija */
            object-fit: cover; /* Para asegurar que las imágenes mantengan su relación de aspecto */
        }
</style>